<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500039576121-08m8lt3c0ens6fhrkv4c9kmm3bdl3jv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500039576121-08m8lt3c0ens6fhrkv4c9kmm3bdl3jv1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>500039576121-2ht2n7jk53d7cicusekhrludk1gipj9j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJrLFFxklRHT_B3F61M-TyQPBlRykRvP8</string>
	<key>GCM_SENDER_ID</key>
	<string>500039576121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalwarind.btgnewrnapp</string>
	<key>PROJECT_ID</key>
	<string>unis-1</string>
	<key>STORAGE_BUCKET</key>
	<string>unis-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500039576121:ios:ce477c368890c2814fbbe8</string>
	<key>DATABASE_URL</key>
	<string>https://unis-1-default-rtdb.firebaseio.com</string>
</dict>
</plist>